
.navContainer
  background-color: #ffffff
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08)
  padding: .5rem
  text-align: left

.logo
  background-color: #1bb0db
  color: white
  font-size: 12px
  height: .5rem
  width: .5rem
  margin-right: .8rem
