@import '~normalize.css'

@import 'utilities/variables'
@import 'utilities/breakpoints'
@import 'utilities/colors'

@import '~bulma/sass/utilities/_all'
@import '~bulma/sass/base/_all'
@import '~bulma/sass/grid/columns'
@import '~bulma/sass/components/level'
@import '~bulma/sass/components/navbar'
@import '~bulma/sass/layout/_all'
@import '~bulma/sass/grid/columns'

@import 'utilities/typography'

@import '../components/Button/index'
//@import '../components/Container/index'
//@import '../components/CTA/index'
//@import '../components/DetailedCTA/index'
//@import '../components/Points/index'


.undefined
  border: 1px solid red !important

html
  height: 100%
  background: $white
  font-size: 1rem
  min-width: 18.75rem
  overflow-x: hidden
  overflow-y: scroll
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  -webkit-overflow-scrolling: touch
  text-rendering: optimizeLegibility
  text-size-adjust: 100%

body
  margin: 0
  padding: 0
  font-family: 'Lato', sans-serif
  position: relative
  color: $black
  line-height: 1.5
  width: 100vw
  overflow-x: hidden

::-webkit-input-placeholder
  text-align: center

button
  border: none
  cursor: pointer

::-moz-placeholder
  /* Firefox 19+ */
  text-align: center

.input
  max-width: 8rem

.text-center
  text-align: center
// @import 'utilities/keyframes'


.columns:last-child
  margin-bottom: 0 !important

.columns
  margin: 0

.redButton
  border: .1rem solid red

.greenButton
  border: .1rem solid green

.questionContainer
  padding-bottom: 1.5rem
  padding-top: 1.5rem

.quoteContainer
  padding-bottom: 1.5rem
  padding-top: 1.5rem

.policyContainer
  padding-bottom: 1.5rem
  padding-top: 1.5rem

.questionBox
  padding: 0 1rem 0 1rem
  text-align: center
  img
    height: 8rem
    width: 8rem
    display: block
    margin: auto
    margin-bottom: 2rem

.inputsContainer
  text-align: center
  input
    max-width: 8rem

.alignInputsInOneLine
  text-align: center
  button
    width: 95%

.selectedButton
  background-color: #1bb0db
  width: 40%
  margin: 10px
  color: white

.disabledButton
  background-color: rgba(27, 176, 219, 0.05)
  border: solid 1px rgba(27, 176, 219, 0.3)
  color: #004f78
  width: 40%
  margin: 10px

.mainBox
  text-align: center
  height: 100vh


.backArrow
  cursor: pointer
  height: 1.6rem
  width: 1.6rem
  float: left
  margin: 10px
  position: absolute
  left: 10px

.nextDisabled
  background-color: #dcdcdc
  color: white
  width: 95%

.nextEnabled
  background-color: #1bb0db
  color: white
  width: 95%

.navbar
  border-bottom: 1px solid #dbdbdb
  .right-items
    position: absolute
    right: 0
    font-size: 1em
    color: #1bb0db
    top: .7rem
    div
      padding: 0 1rem
      cursor: pointer
      font-weight: 600
      display: inline-block

.inputBorderContainer
  border-top: solid 1px #eaeaea
  max-width: 300px
  margin: auto

.rightAlignedInputContainer
  border-bottom: solid 1px #eaeaea
  max-width: 300px
  min-height: 3rem
  padding-bottom: 0

  span
    font-size: .9rem
    font-weight: normal
    font-style: normal
    font-stretch: normal
    line-height: 1.5
    letter-spacing: normal
    color: #004f78
    width: 9rem
    display: inline-block

.inputLabel
  width: 49%
  display: inline-block

.home-wrapper
  .row-about-us
    padding: 4.6rem 0
    max-width: 64rem
    margin: auto
    .image
      display: inline-flex
      //position: absolute
      z-index: 2
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15)
    .image-background
      position: absolute
      display: inline-flex
      z-index: -1
      background: linear-gradient(to right, #1bb0db, #69d0ff)
      box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.15)
    #column-image-1
      padding-right: 2rem
      text-align: center !important
    #image-1
      position: initial
    #image-1-background
      width: 26.875rem
      margin-top: 8.7rem
      height: 15.43rem
      margin-left: 5.25rem
    #image-2-background
      width: 26.875rem
      max-width: 40vw
      margin-left: -2.625rem
      margin-top: -2.375rem
      height: 18.75rem
    #image-3-background
      width: 21.875rem
      margin-left: -2.3125rem
      margin-top: 8.125rem
      height: 18.75rem
    .main-text
      max-width: 25rem
      font-size: 2.75rem
      line-height: 3.75rem
      font-weight: 600
      color: #363636
      margin-bottom: 2rem
      font-family: 'Karma', sans-serif !important
    .hint-text
      max-width: 25rem
      font-size: 1.25rem
      line-height: 2.25rem
      color: #595959
      margin-bottom: 2rem
    .action
      .action-button
        width: 25rem
        height: 4rem
        font-size: 1.575rem
        background: linear-gradient(to right, #1bb0db, #69d0ff)
        color: white
        font-weight: 600
      .invert
        background: white
        color: #1bb0db
    &.second
      .hint-text
        max-width: 31.25rem
        padding-right: 1rem
      .main-text
        max-width: 31.25rem
        padding-right: 1rem
    &.third
      text-align: center
      font-size: 1.125rem
      color: #595959
      img
        margin-bottom: 1rem
    &.forth
      margin-top: 5rem
      height: 31.2rem
      background: linear-gradient(to bottom, #1bb0db, #69d0ff)
      .columns
        max-width: 64rem
        margin: auto
      font-size: 1.12rem
      background: #1bb0db
      max-width: initial
      padding: 1rem 0
      text-align: left
      .image-column
        img
          margin-top: -7.5rem
          float: right
      .main-text
        max-width: 31.25rem
        font-size: 2.75rem
        color: white
      .hint-text
        max-width: 31.25rem
        color: white
        font-size: 1.1rem
    &.sixth
      text-align: center
      padding: 1rem
      .main-text
        max-width: 37.5rem
        width: auto
        margin: auto
      .action-button
        margin-top: 2rem
        width: 9.375rem
        font-size: 1rem
    &.seventh
      margin-top: 7rem
      height: auto
      background: linear-gradient(to bottom, #1bb0db, #69d0ff)
      .cards-column
        max-width: 18.5rem
        margin: 0 auto
      .columns
        height: 26rem
        padding: 0 2rem
        .cards
          font-family: 'Karma', sans-serif !important
          background: white
          height: 22rem
          margin-top: -5rem
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1)
          .text
            color: #004f78
            font-size: 1.12rem
            font-weight: 600
            text-align: center
            padding: 0 1rem
    &.eight
      text-align: center
      padding: 1rem
      margin-top: 5rem
      .link-section
        width: auto
        max-width: 32rem
        margin: auto
        .links
          display: inline-block
          font-size: 1.25rem
          color: #1bb0db
          font-weight: 400
      .main-text
        width: auto
        margin: auto
        div
          display: inline-block
          font-size: 1.625rem
          &.text
            vertical-align: super
            padding-left: 2rem
            line-height: 2.3rem
            font-family: 'Lato', sans-serif
            color: #004f78
    &.ninth
      text-align: center
      padding: 4rem 0
      height: auto
      background: linear-gradient(to right, #1bb0db, #69d0ff)
      .main-text
        text-align: center
        max-width: 31.25rem
        margin: auto
        font-size: 1.875rem
        line-height: 2.5rem
      .action
        margin-top: 2rem
    &.tenth
      text-align: left
      padding-top: 4rem
      padding-bottom: 3rem
      background: #004f78
      max-width: initial
      color: white
      .copyright-links
        padding-top: 2rem
        font-size: 0.75rem
        text-align: center
        color: rgba(255, 255, 255, 0.8)
      .footer-links
        max-width: 64rem
        margin: auto
        .link
          .header
            font-size: 1rem
            line-height: 1.875rem
            font-weight: 700
            cursor: pointer
            margin-bottom: 1.2rem
          .item
            color: rgba(255, 255, 255, 0.8)
            font-size: 1rem
            cursor: pointer
            line-height: 1.875rem
            img
              padding: 0 0.625rem

.recommendedPolicyBox
  padding: 0


@media screen and (max-width: 1200px)
  .home-wrapper
    .row-about-us
      #image-1-background
        margin-top: 13vw

@media screen and (max-width: 937px)
  .home-wrapper
    .row-about-us
      #image-1-background
        margin-top: 12vw
        height: 24vw
      &.forth
        height: 33.2rem
        .image-column
          img
            margin-top: -3.5rem
      &.seventh
        height: auto
      &.ninth
        height: auto


@media screen and (max-width: 865px)
  .home-wrapper
    .row-about-us
      &.forth
        height: 36.2rem
        .image-column
          img
            margin-top: -3.5rem
      &.seventh
        height: auto
      &.ninth
        height: auto


@media screen and (max-width: 768px)
  body
    background: none
  .navbar
    padding: 0
    .right-items
      position: absolute
      right: 0.5em
      font-size: 1em
      color: #1bb0db
      top: .7rem
      div
        padding: 0 0.5rem

  .show-for-large-only
    display: none
  .home-wrapper
    .row-about-us
      padding: 1rem 0
      .image
        display: initial
        position: initial
      .image-background
        z-index: -1
        background: linear-gradient(to right, #1bb0db, #69d0ff)
        box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.15)
        margin: auto
      #column-image-1
        padding-right: 1rem
        text-align: center !important
      #image-1-background
        margin-top: 8.6rem
        height: 16rem
      .main-text
        margin: auto
        text-align: center
        font-size: 1.875rem
        line-height: 2.625rem
        margin-bottom: 0.7rem
        width: auto
      .hint-text
        margin: auto
        width: auto
        font-size: 1.25rem
        line-height: 2.25rem
        color: #595959
        text-align: center
        margin-bottom: 2rem
      .action
        width: 90%
        margin: auto
        .action-button
          height: 4rem
          width: 100%
      &.second
        .image-column
          text-align: center
          margin-bottom: 3rem
          margin-top: 3rem
          #image-3
            margin-left: auto
          #image-3-background
            width: 26.875rem
            margin-top: 9.68rem
            height: 15.83rem
            margin-left: 6.25rem
        p
          padding: 0.5rem 0
        .hint-text
          width: 95%
          text-align: left
        .main-text
          width: 95%
          text-align: left
      &.third
        text-align: center
        font-size: 1.125rem
        color: #595959
        img
          margin-top: 1.5rem
          margin-bottom: 1rem
      &.forth
        margin-top: 5rem
        height: 54rem
        margin-bottom: 21rem
        .columns
          margin: auto
          font-size: 1.12rem
        .image-column
          text-align: center
          img
            margin: auto
            float: none
        .main-text
          width: 100%
          font-size: 1.875rem
        .hint-text
          width: 100%
      &.sixth
        text-align: left
        padding: 1rem
        .action
          width: auto
        .main-text
          max-width: 37.5rem
          width: auto
          margin: auto
          text-align: left
        .action-button
          margin-top: 2rem
          width: 9.375rem
          font-size: 1rem
      &.seventh
        margin-top: 7rem
        height: 82rem
        margin-bottom: 0
        .columns
          padding: 0 2rem
          height: auto
          margin-top: -5rem
          .cards
            background: white
            height: 22rem
            margin-top: auto
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1)
      &.eight
        text-align: center
        padding: 1rem
        margin-top: 5rem
        .link-section
          width: auto
          max-width: 32rem
          margin: auto
          .links
            display: block
            font-size: 1.25rem
            color: #1bb0db
            font-weight: 400
        .main-text
          width: auto
          div
            display: block
            font-size: 1.625rem
            &.text
              vertical-align: super
              padding-left: 2rem
              line-height: 2.3rem
              color: #004f78
      &.ninth
        text-align: center
        padding: 4rem 0
        height: auto
        margin-bottom: 0
        .main-text
          text-align: center
          max-width: 31.25rem
          margin: auto
          font-size: 1.875rem
          line-height: 2.5rem
        .action
          margin-top: 2rem
      &.tenth
        text-align: left
        padding-top: 4rem
        padding-left: 1.4rem
        padding-bottom: 3rem
        background: #004f78
        max-width: initial
        color: white
        .copyright-links
          text-align: left


@media screen and (max-width: 567px)
  .home-wrapper
    .row-about-us
      #image-1-background
        height: 46vw

@media screen and (max-width: 480px)
  .home-wrapper
    .row-about-us
      #image-1-background
        height: 43vw

@media screen and (min-width: 768px)
  .show-for-small-only
    display: none

  .alignInputsInOneLine
    button
      width: 50%

  .questionContainer
    width: 300px
    margin: auto
    .nextDisabled
      width: 300px

  .nextEnabled
    width: 300px

  .inputBorderContainer
    width: 100%

  .popupContainer input, .popupContainer textarea, .popupContainer button
      width: 90%

  .inputsContainer
    display: flex
    flex-direction: column
    width: 300px
    align-items: center
    margin: auto
    .disabledButton
      width: 300px
    .selectedButton
      width: 300px

@media screen and (min-width: 567px) and (max-width: 768px)
  .alignInputsInOneLine
    button
      width: 50%

  .questionContainer
    width: 300px
    margin: auto
    .nextDisabled
      width: 300px


  .nextEnabled
    width: 300px

  .inputsContainer
    display: flex
    flex-direction: column
    width: 300px
    align-items: center
    margin: auto
    .disabledButton
      width: 300px
    .selectedButton
      width: 300px


@media screen and (max-width: 360px)
  .home-wrapper
    .row-about-us
      #image-1-background
        height: 43vw
        margin-top: 5.6rem
      &.second
        .image-column
          #image-3-background
            height: 13.33rem



.addOnBtn
  display: flex
  justify-content: center
  padding: 20px
  color: white
  cursor: pointer
  .plus
    height: 26px
    width: 26px

.buttonBox
  background: #1bb0db
  color: white
  width: 7.5rem
  height: 2.3rem
  outline: none
  cursor: pointer

.questionText
  width: 100%
  height: 1.6rem
  opacity: 0.5
  font-size: .8rem
  font-weight: normal
  font-style: normal
  font-stretch: normal
  line-height: 1
  letter-spacing: normal
  text-align: center
  color: #004f78
  text-decoration: underline
  display: flex
  align-items: center
  justify-content: center
  margin-top: .7rem

.quoteMessage
  margin-top: 1rem
  color: #004f78
  font-size: 1rem
  font-weight: bold

.policyHeading
  margin-bottom: 2rem
  font-size: 1.3rem
  color: #004f78

.quoteBoxContainer
  display: flex
  flex-direction: column

.quoteBox
  display: flex
  justify-content: space-around
  align-items: center
  height: 50px
  cursor: pointer
  background-color: rgba(27, 176, 219, 0.05)
  border: solid 1px rgba(27, 176, 219, 0.3)
  margin-bottom: 10px

.quoteButtonContainer
  display: flex
  justify-content: space-between


@media screen and (max-width: 360px)
  .quoteButtonContainer
    .disabledButton
      margin: 0px
    .selectedButton
      margin: 0px

  .quoteContainer
    .questionBox
      .inputBorderContainer
        .rightAlignedInputContainer
          span
            width: 45%
          input
            width: 45%

@media screen and (min-width: 768px)
  .quoteBox
    width: 45%
    margin: 15px
    height: 70px

  .quoteContainer
    width: 550px
    margin: auto

  .quoteBoxContainer
    flex-direction: row

.selectedQuote
  background: #28b0db 
  color: white
.quoteContainer
  .questionBox
    margin-bottom: 3rem

.policyContainer
  .questionBox
    margin-bottom: 3rem

.selectedPolicyBox
  background-color: #1bb0db
  margin-top: 2rem
  padding-top: 0.5rem
  padding-bottom: 1rem
  cursor: pointer
  .quoteMessage
    color: white
  .policyText
    margin: 1rem
    color: white
    font-size: 1rem

.policyBox
  background-color: rgba(27, 176, 219, 0.05)
  border: solid 1px rgba(27, 176, 219, 0.3)
  padding-top: 0.5rem
  cursor: pointer
  margin-top: 2rem
  color: #004f78
  .input
    background-color: rgba(27, 176, 219, 0.0001)
  .policyText
    margin: 1rem
    font-size: 1rem
    color: #004f78


.recommendedPolicies
  display: flex
  flex-direction: column
  justify-content: space-evenly
  padding: 1rem 1rem 1rem 1rem
  .quoteMessage
    margin-top: 0
  .policyText
    font-size: 1rem
    height: 80px

.policyText
  color: #004f78
.otherCoverages
  background-color: rgba(27, 176, 219, 0.05)
  padding: 1rem
  .policyText
    color: #004f78
    height: 115px
  .policyBox
    background-color: #ffffff
    margin-top: 2rem

.termLengthContainer
  background-color: rgba(27, 176, 219, 0.05)
  padding: 1rem
  margin-top: 1rem

.otherCoverageBox
  display: flex
  flex-direction: column


@media screen and (min-width: 768px)
  .recommendedPolicies
    display: flex
    flex-direction: row
    justify-content: space-evenly
    align-items: baseline
    height: 375px

  .quoteMessage
    margin-top: 0

  .policyText
    font-size: 0.8rem

  .recommendedPolicyBox
    height: 250px
    padding: 1rem
    .policyText
      font-size: 0.9rem
    input
      margin-top: 6px
      height: 36px

  .otherCoverageBox
    display: flex
    flex-direction: row
    justify-content: space-evenly
    input
      height: 30px
      //margin-top: 10px

  .existingCoverageContainer
    .policyBox
      width: 40%

  .otherCoverages
    .policyBox
      width: 40%

  .policyContainer
    .questionBox
      width: 550px
      margin: auto
    .nextEnabled
      margin-top: 20px

  .termLengthContainer
    .policyText
      width: 550px
      margin: auto
    .policyBox
      width: 400px
      margin: auto
      margin-top: 20px
      background-color: white
      .policyText
        width: 90%
        margin: auto
        margin-top: 10px

  .policyBox
    padding-bottom: 0
    height: 210px

.existingCoverageContainer
  padding: 1rem
  margin: auto
  p
    text-align: center
    margin: auto
    margin-top: 1rem
