@import '~normalize.css'

@import 'utilities/variables'
@import 'utilities/breakpoints'
@import 'utilities/colors'

@import '~bulma/sass/utilities/_all'
@import '~bulma/sass/base/_all'
@import '~bulma/sass/grid/columns'
@import '~bulma/sass/components/level'
@import '~bulma/sass/components/navbar'
@import '~bulma/sass/layout/_all'
@import '~bulma/sass/grid/columns'

@import 'utilities/typography'

@import '../components/Button/index'
//@import '../components/Container/index'
//@import '../components/CTA/index'
//@import '../components/DetailedCTA/index'
//@import '../components/Points/index'

.undefined
  border: 1px solid red !important

html
  height: 100%
  background: $white
  font-size: 1rem
  min-width: 18.75rem
  overflow-x: hidden
  overflow-y: scroll
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  -webkit-overflow-scrolling: touch
  text-rendering: optimizeLegibility
  text-size-adjust: 100%

body
  margin: 0
  padding: 0
  font-family: 'Open sans', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  position: relative
  background: $white
  color: $black
  line-height: 1.5
  width: 100vw
  overflow-x: hidden

::-webkit-input-placeholder
  text-align: center

button
  border: none
  cursor: pointer

::-moz-placeholder
  /* Firefox 19+ */
  text-align: center

// @import 'utilities/keyframes'


.columns:last-child
  margin-bottom: 0 !important

.columns
  margin: 0

.redButton
  border: .1rem solid red

.greenButton
  border: .1rem solid green

.questionContainer
  padding-top: 1.5rem

.questionBox
  padding: 0 2rem 2rem 2rem
  text-align: center
  img
    height: 8rem
    width: 8rem
    display: block
    margin: auto
    margin-bottom: 2rem

.inputsContainer
  text-align: center

.alignInputsInOneLine
  text-align: center
  button
    width: 95%

.selectedButton
  background-color: #1bb0db
  width: 40%
  margin: 10px
  color: white

.disabledButton
  background-color: rgba(27, 176, 219, 0.05)
  border: solid 1px rgba(27, 176, 219, 0.3)
  color: #004f78
  width: 40%
  margin: 10px

.mainBox
  text-align: center

.nextDisabled
  background-color: #dcdcdc
  color: white
  width: 85%

.nextEnabled
  background-color: #1bb0db
  color: white
  width: 80%

.input
  border: none
  padding: .5rem
  outline: none
  text-align: center
  border-bottom: .1rem solid #1bb0db

.navbar
  border-bottom: 1px solid #dbdbdb
  padding: 1rem 0

.home-wrapper
  .row-about-us
    padding: 4.6rem 0
    max-width: 64rem
    margin: auto
    .main-text
      width: 25rem
      font-size: 2.75rem
      line-height: 3.75rem
      font-weight: 600
      color: #363636
      margin-bottom: 2rem
    .hint-text
      width: 25rem
      font-size: 1.25rem
      line-height: 2.25rem
      color: #595959
      margin-bottom: 2rem
    .action
      .action-button
        width: 25rem
        height: 4rem
        font-size: 1.575rem
        background: #1bb0db
        color: white
        font-weight: 600
      .invert
        background: white
        color: #1bb0db
    &.second
      .hint-text
        width: 31.25rem
      .main-text
        width: 31.25rem
    &.third
      text-align: center
      font-size: 1.125rem
      color: #595959
      img
        margin-bottom: 1rem
    &.forth
      height: 31rem
      margin-top: 5rem
      .columns
        max-width: 64rem
        margin: auto
      font-size: 1.12rem
      background: #1bb0db
      max-width: initial
      padding: 1rem 0
      text-align: left
      .image-column
        img
          margin-top: -7.5rem
          float: right
      .main-text
        width: 31.25rem
        font-size: 2.75rem
        color: white
      .hint-text
        width: 31.25rem
        color: white
        font-size: 1.1rem
    &.sixth
      text-align: center
      padding: 1rem
      .main-text
        max-width: 37.5rem
        width: auto
        margin: auto
      .action-button
        margin-top: 2rem
        width: 9.375rem
        font-size: 1rem
    &.seventh
      margin-top: 7rem
      height: auto
      .columns
        height: 26rem
        padding: 0 2rem
        .cards
          background: white
          height: 26rem
          margin-top: -5rem
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1)
    &.eight
      text-align: center
      padding: 1rem
      margin-top: 5rem
      .link-section
        width: auto
        max-width: 32rem
        margin: auto
        .links
          display: inline-block
          font-size: 1.25rem
          color: #1bb0db
          font-weight: 600
      .main-text
        width: auto
        div
          display: inline-block
          font-size: 1.625rem
          &.text
            vertical-align: super
            padding-left: 2rem
            line-height: 2.3rem
            color: #004f78
    &.ninth
      text-align: center
      padding: 4rem 0
      height: auto
      .main-text
        text-align: center
        max-width: 31.25rem
        margin: auto
        font-size: 1.875rem
        line-height: 2.5rem
      .action
        margin-top: 2rem
    &.tenth
      text-align: left
      padding-top: 4rem
      padding-bottom: 3rem
      background: #004f78
      max-width: initial
      color: white
      .copyright-links
        padding-top: 2rem
        font-size: 0.75rem
        text-align: center
        color: rgba(255, 255, 255, 0.8)
      .footer-links
        max-width: 64rem
        margin: auto
        .link
          .header
            font-size: 1rem
            line-height: 1.875rem
            font-weight: 700
            margin-bottom: 1.2rem
          .item
            color: rgba(255, 255, 255, 0.8)
            font-size: 1rem
            line-height: 1.875rem
            img
              padding: 0 0.625rem

@media screen and (min-width: 768px)
  .show-for-small-only
    display: none

@media screen and (max-width: 768px)
  .show-for-large-only
    display: none
  .home-wrapper
    .row-about-us
      padding: 1rem 0
      .main-text
        margin: auto
        text-align: center
        font-size: 1.875rem
        line-height: 2.625rem
        margin-bottom: 2rem
        width: auto
      .hint-text
        margin: auto
        width: auto
        font-size: 1.25rem
        line-height: 2.25rem
        color: #595959
        margin-bottom: 2rem
      .action
        width: 90%
        margin: auto
        .action-button
          height: 4rem
          width: 100%
      &.second
        p
          padding: 0.5rem 0
        .hint-text
          width: 95%
          text-align: left
        .main-text
          width: 95%
          text-align: left
      &.third
        text-align: center
        font-size: 1.125rem
        color: #595959
        img
          margin-top: 1.5rem
          margin-bottom: 1rem
      &.forth
        margin-top: 5rem
        height: 54rem
        margin-bottom: 21rem
        .columns
          margin: auto
          font-size: 1.12rem
        .image-column
          text-align: center
          img
            margin: auto
            float: none
        .main-text
          width: 100%
          font-size: 1.875rem
        .hint-text
          width: 100%
      &.sixth
        text-align: left
        padding: 1rem
        .main-text
          max-width: 37.5rem
          width: auto
          margin: auto
          text-align: left
        .action-button
          margin-top: 2rem
          width: 9.375rem
          font-size: 1rem
      &.seventh
        margin-top: 7rem
        height: 82rem
        margin-bottom: 0
        .columns
          padding: 0 2rem
          height: auto
          margin-top: -5rem
          .cards
            background: white
            height: 26rem
            margin-top: auto
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1)
      &.eight
        text-align: center
        padding: 1rem
        margin-top: 5rem
        .link-section
          width: auto
          max-width: 32rem
          margin: auto
          .links
            display: block
            font-size: 1.25rem
            color: #1bb0db
            font-weight: 600
        .main-text
          width: auto
          div
            display: block
            font-size: 1.625rem
            &.text
              vertical-align: super
              padding-left: 2rem
              line-height: 2.3rem
              color: #004f78
      &.ninth
        text-align: center
        padding: 4rem 0
        height: auto
        margin-bottom: 0
        .main-text
          text-align: center
          max-width: 31.25rem
          margin: auto
          font-size: 1.875rem
          line-height: 2.5rem
        .action
          margin-top: 2rem
      &.tenth
        text-align: left
        padding-top: 4rem
        padding-left: 1.4rem
        padding-bottom: 3rem
        background: #004f78
        max-width: initial
        color: white
        .copyright-links
          text-align: left