$brand-primary: #1bb0db
$brand-secondary: #004f78
$brand-primary-light: #69d0ff

button
  border: none
  cursor: pointer
  color: white
  background: $brand-primary
  font-size: 1rem
  &.with-gradient
    background: linear-gradient(to right, $brand-primary, $brand-primary-light)
    color: white
  &.invert
    background: white
    color: $brand-primary

.p-16
  font-size: 1rem !important

.p-18
  font-size: 1.125rem !important

.p-20
  font-size: 1.25rem !important

.p-20
  font-size: 1.375rem !important

.font-600
  font-weight: 700 !important
.font-700
  font-weight: 700 !important
.font-800
  font-weight: 800 !important
.font-900
  font-weight: 900 !important

.lato-family
  font-family: 'Lato', sans-serif !important

.karma-family
  font-family: 'Karma', sans-serif !important

.app-texts
  color: $brand-secondary
  line-height: 1.375rem
  font-size: 1rem
  &.bold
    font-weight: bold
  &.invert
    color: white
  &.no-line-height
    line-height: 1.375rem
  .sub-text
    font-size: 0.875rem
    font-weight: 600
    line-height: 1.57rem
    &.no-line-height
      line-height: 0.875rem
  .headings
    font-weight: 600
    font-size: 1.375rem
    line-height: 2rem
    &.no-line-height
      line-height: 1.375rem
  .sub-headings
    font-weight: 600
    font-size: 1.125rem
    line-height: 2rem
    &.no-line-height
      line-height: 1.375rem
